<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>ScratchStatGetter</title>
</head>
<body>
    <h1>ScratchStatGetter</h1>
    <p>ScratchStatGetter is a programm to get stats from <a href="https://scratch.mit.edu">Scratch</a>.</p>

    <form>
        <select name="type" id="type">
            <option value="project">Project</option>
            <option value="user">User</option>
            <option value="existance">User existance check</option>
            <option value="studio">Studio</option>
        </select>
        <input placeholder="ID" name="id"><input type="submit" value="Go!">
    </form>
</body>
</html>