<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Poject: {{ projectid }}</title>
</head>
<body>
    <div>
        <a href="https://scratch.mit.edu/projects/{{ projectid }}"><h1>Project: {{ projectid }}</h1></a>
        <h2>Stats:</h2>
        <div>
            Views: {{ views }} <br/>
            Loves: {{ loves }} <br/>
            Faves: {{ faves }} <br/>
            Remixes: {{ remixes }} <br/>
        </div>
    </div>
</body>
</html>