<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>User: {{ username }}</title>
</head>
<body>
    <div>
        <a href="https://scratch.mit.edu/users/{{ username }}"><h1>User: {{ username }}</h1></a>
        <h2>Data:</h2>
        <div>
            Message count: {{ messagecount }} <br/> <br/>
            BIO / About Me: <i>{{ bio }}</i> <br/> <br/>
            Status / What I'm working on: <i>{{ status }}</i> <br/> <br/>
            Projects: <i>{{ userprojects }}</i> <br/>
        </div>
    </div>
</body>
</html>